div {
    color: blueviolet;

}
a{
    color: blueviolet;
    font-size:xx-large;
    text-decoration: none;

}
.link {
    color: blueviolet; 
}

button{
    color: blueviolet; 

}

li{
    color: blueviolet; 


}