#img-card{
  object-fit: contain;
  height:200px;


}

h1{
position:relative;
text-align: start;
padding-top: 25px;
color: rgb(255, 254, 254);


}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 100px;
}

.card-body{
  height: 196px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(163, 22, 163);
  color: rgb(247, 239, 239);
  text-align: center;
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(163, 22, 163);
}

.div-lista-header{
  display: flex;
  margin: 20px;
  

}
.lista-header{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
 
}

.navlink{
 text-decoration: none;
 font-size: 25px;
 color: rgb(244, 236, 243);
 padding-left: 40px;
 padding-right: 30px;
 padding-bottom: 50px;
 

}

.carrito{
  align-self: center;

}

.button-efect{
  background-color: black;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #FFF;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
  z-index:40;
  text-decoration: none;
}

.button-efect::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
  width: 95%;
  height: 95%;
  background: linear-gradient(45deg,
  rgb(170, 255, 0),blue,deeppink,blue,rgb(162, 255, 0),rgb(0, 255, 98),deeppink,blue);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}
@keyframes glowing {
  0%{
      background-position: 0 0 ;
  }
  50%{
      background-position:  400% 0;
  }
  100%{
      background-position: 0 0;
  }
}


.button-efect2{
  background-color: black;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #FFF;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
  width: 200px;
  text-decoration: none;
}

.button-efect2::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,
  rgb(61, 4, 89),blue,deeppink,blue,rgb(41, 1, 50),blue,rgb(50, 2, 28),rgb(16, 103, 150));
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}
@keyframes glowing {
  0%{
      background-position: 0 0 ;
  }
  50%{
      background-position:  400% 0;
  }
  100%{
      background-position: 0 0;
  }
}

.btn-finalizarCompra{
  text-decoration: none;
  color: rgb(240, 238, 238);
}