
h1{
  position:relative;
  text-align: start;
  padding-top: 25px;
  color: black;
  
  }

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(163, 22, 163);
  color: black;
  text-align: center;
}

#img-card{
  object-fit: contain;
  height:200px;


}


.card-body{
  height: 196px;
}


.header{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(163, 22, 163);
}

.div-lista-header{
  display: flex;
  margin: 20px;
  
}

.lista-header{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
 
}

.navlink{
 text-decoration: none;
 font-size: 25px;
 color: black;
 padding-left: 40px;
 padding-right: 30px;
 padding-bottom: 50px;
 

}

.carrito{
  align-self: center;

}

.button-efect{
  background-color: rgb(92, 6, 92)  ;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #FFF;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
  z-index:40;
  text-decoration: none;
}

.button-efect2{
  background-color: rgb(92, 6, 92);
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #FFF;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
  width: 200px;
  text-decoration: none;
}

.btn-finalizarCompra{
  text-decoration: none;
  color: rgb(240, 238, 238);
}
